*{
    padding: 0;
    margin: 0;
}
@media(min-width: 900px) {
    .productList{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}
button:hover{
    cursor: pointer;
}
body{
    background-color:bisque;
}